body {
    font-family:Arial, Helvetica, sans-serif;
}

.navBar {
    background-color: #ED217C;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    border-top: 5px solid #2D3047;
    border-bottom: 5px solid #2D3047;
}

.navButtons {
    font-size: 30px;
    color: white;
    font-style: bold;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    color: #1B998B;
    font-style: bold;
    text-align:center;
    padding: 15px;
}

h2 {
    font-size: 40px;
    color: #2D3047;
}

.bodyBlock {
    display: flex;
    justify-content: space-around;
    background-color: #FF9B71;
    margin: 20px 200px;
    padding: 40px;
    align-items: center;
    border-radius: 15px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0 70px;
}

.frontImages {
    height: 300px;
    width: 400px;
}

.textBlock p {
    font-size: 30px;
    color:#2D3047;
}
